<h1>Tenants</h1>

<table id="hor-minimalist-b">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenants.each do |tenant| %>
  <tr>
    <td><%= tenant.name %></td>
    <td><%= tenant.phone %></td>
    <td><%= tenant.email %></td>
    <td><%= link_to 'Show', tenant %></td>
    <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
    <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


