<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @interestonlymortgagecalculator.amount %>
</p>

<p>
  <b>Rate:</b>
  <%= @interestonlymortgagecalculator.rate %>
</p>

<p>
  <b>Stress:</b>
  <%= @interestonlymortgagecalculator.stress %>
</p>


<%= link_to 'Edit', edit_interestonlymortgagecalculator_path(@interestonlymortgagecalculator) %> |
<%= link_to 'Back', interestonlymortgagecalculators_path %>
