<%= form_for(@lease) do |f| %>
</ br> 
</ br>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>
</ br> 
</ br>
      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</ br> 
</ br>
  <div class="field">
    <%= f.label :tenant_id %><br />
    <%= f.select :tenant, options_from_collection_for_select(@tenants, 'id', 'name') %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br />
    <%= f.select :property, options_from_collection_for_select(@properties, 'id', 'address_line_1') %>

  </div>
  <div class="field">
    <%= f.label :lease_start %><br />
    <%= f.date_select :lease_start %>
  </div>
  <div class="field">
    <%= f.label :lease_end %><br />
    <%= f.date_select :lease_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
